#footer-section {
    padding: 48px $page-side-padding--mobile 64px;
    background-color: $dark-grey;
    color: white;

    p:first-of-type {
        margin-bottom: 36px;
    }

    /**
     * email link
     */
    a {
        margin: 36px auto 0;
        display: block;
        width: max-content;
        font-size: 24px;
        color: white;

        span {
            color: rgba(white, 0.5);
        }
    }
}
