#footer-section {
    padding: 64px $page-side-padding--mobile 128px;
    background-color: $dark-grey;
    color: white;

    p:first-of-type {
        margin-bottom: 36px;
    }

    /**
     * email link
     */
    a {
        display: block;
        margin-top: 36px;
        width: max-content;
        font-size: 24px;
        color: white;

        span {
            color: rgba(white, 0.5);
        }
    }
}

/**
 * TABLET LAYOUT
 */

@include for-tablet-portrait-up {

    #footer-section {

        padding-left: $page-side-padding--tablet;
        padding-right: $page-side-padding--tablet;

        p {
            width: 80%;
        }
    }
}

/**
 * TABLET ( LANDSCAPE ) LAYOUT
 */

@include for-tablet-landscape-up {

    #footer-section {

        a, p {
            margin-left: auto;
            margin-right: auto;
        }

        p {
            text-align: center;
            width: 60%;
        }
    }

    #footer-section a {
    }
}

/**
 * DESKTOP LAYOUT
 */

@include for-desktop-up {

    #footer-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 128px;

        height: 100vh;
        min-height: 500px;

	/*
 	 * pattern created using tool at patternify.com
	 */
	background-image:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARUlEQVQoU2NkIBIwQtUZA+mz+PTAFILUgBSDAFYN+BSi2IKsENlmDKdgU4jVvegKkRWhuBmX1Riew6cQ5mawLcQoBGsAANj6CguQus8fAAAAAElFTkSuQmCC);
    }

    #footer-section p {
        width: 50%;
        font-size: 22px;
        opacity: 0;
        will-change: transform;
        animation-duration: 0.8s;

        &:first-of-type {
            margin-bottom: 48px;
        }

        &:last-of-type {
            animation-delay: 0.3s;
        }
    }

    #email-link-wrapper {
        opacity: 0;
        will-change: transform;
        animation-delay: 0.8s;
    }

    #footer-section a {

        opacity: 0.5;

        &:hover {
            opacity: 1;
            text-decoration: underline;
        }
    }
}
