#oxo-section {
    padding: 48px $page-side-padding--mobile 64px;
    background-color: white;
}

#oxo-screenshot-wrapper {
    position: relative;
    margin: 36px #{-$page-side-padding--mobile};
    display: flex;
    justify-content: center;
    align-items: flex-start;

    figcaption {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 18px;
        position: absolute;
        top: 12px;
        left: 12px;
        background-color: $dark-grey;
        color: white;
    }

    img {
        width: 100%;
        max-width: 375px;

        /** make image span the full width of the screen */
        /*
        margin-left: -$page-side-padding--mobile;
        margin-right: -$page-side-padding--mobile;
        */
    }

    img.tablet,
    img.desktop {
        display: none;
    }
}

/**
 * OXO icon is visible on desktop only.
 */
#oxo-icon-wrapper {
    display: none;
}

#oxo-features-list {
    list-style: inside;
    margin-top: 32px;
}

/**
 * TABLET LAYOUT
 */

@include for-tablet-portrait-up {

    #oxo-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .app-description {

            /**
             * match the width of the oxo screenshots image
             */
            width: 506px;
            text-align: center;
        }
    }

    #oxo-screenshot-wrapper img {
        max-width: none;
    }
}

/**
 * TABLET ( LANDSCAPE ) LAYOUT
 */

@include for-tablet-landscape-up {

    /**
     * rotate the screenshots 90 degrees so they display
     * horizontally.
     */
    #oxo-screenshot-wrapper {

        transform: translateY(-130px) rotateZ(-90deg);
        /*
         * pattern created using tool at patternify.com
         */
        background-image:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARUlEQVQoU2NkIBIwQtUZA+mz+PTAFILUgBSDAFYN+BSi2IKsENlmDKdgU4jVvegKkRWhuBmX1Riew6cQ5mawLcQoBGsAANj6CguQus8fAAAAAElFTkSuQmCC);
    }
}

/**
 * DESKTOP LAYOUT
 */

@include for-desktop-up {

    #oxo-section {
        padding-top: 96px;
    }

    #oxo-section .app-description {
        text-align: left;
        opacity: 0;
        will-change: transform;
        animation-delay: 0.5s;
    }

    /**
     * Position the app icon to the left of the section text.
     */
    #oxo-section .top-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /**
     * undo screenshot rotation applied in tablet ( landscape ) layout
     */
    #oxo-screenshot-wrapper {
        transform: translateY(0) rotateZ(0);
    }

    #oxo-screenshot-wrapper {
        width: 80%; 
        max-width: 1280px;
        margin-top: 128px;
        margin-left: auto;
        margin-right: auto;
        will-change: transform;


        img {
            opacity: 0;
            will-change: transform;
            transition: opacity 0.3s ease-out;
            width: 100%;
        }

        &.visible img {
            opacity: 1;
        }
    }

    #oxo-icon-wrapper {
        position: relative;
        display: block;
        margin-right: 200px;
        animation-delay: 0.5s;
        will-change: transform;
        opacity: 0;


        /* the OXO app icon */
        img {
            width: 256px;
        }
    }

    #oxo-features-list li {
        opacity: 0;
        will-change: transform;
    }

    // 
    // Set animation delays for feature list items.
    // Increment by 0.05s intervals
    //
    @for $i from 1 through 3 {
        #oxo-features-list li:nth-child(#{$i}) {
            animation-delay: ( 0.6s + 0.4 * $i )
        }
    }

    #oxo-trailer-link-wrapper {
        margin-top: 64px;
    }

}
