#oxo-section {
    padding: 48px $page-side-padding--mobile 64px;
    background-color: white;
}

#oxo-screenshot-wrapper {
    margin-top: 36px;
    margin-bottom: 36px;

    img {

        /** make image span the full width of the screen */
        margin-left: -$page-side-padding--mobile;
        margin-right: -$page-side-padding--mobile;
    }

    img.tablet,
    img.desktop {
        display: none;
    }
}

/**
 * this styling makes the embedded YouTube video responsive
 */
#oxo-video-wrapper {
    height: 0;
    max-width: 1280px;
    padding-top: 25px;
    padding-bottom: 50.25%; /* 16 : 9 ratio */
    position: relative;

    iframe {
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/**
 * TABLET LAYOUT
 */

@include for-tablet-portrait-up {

    #oxo-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .app-description {

            /**
             * match the width of the oxo screenshots image
             */
            width: 506px;
            text-align: center;
        }
    }
}

/**
 * TABLET ( LANDSCAPE ) LAYOUT
 */

@include for-tablet-landscape-up {

    /**
     * rotate the screenshots 90 degrees so they display
     * horizontally.
     */
    #oxo-screenshot-wrapper {

        transform: translateY(-130px) rotateZ(-90deg);
    }
}

/**
 * DESKTOP LAYOUT
 */

@include for-desktop-up {

    #oxo-section {
        padding-top: 96px;
    }

    /**
     * undo screenshot rotation applied in tablet ( landscape ) layout
     */
    #oxo-screenshot-wrapper {
        transform: translateY(0) rotateZ(0);

    }

    #oxo-screenshot-wrapper {
        opacity: 0;
        width: 80%; 
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        will-change: transform;
        transition: 0.3s ease-out;
        transform: translateY(20px);

        &.visible {
            opacity: 1;
            transform: translateY(0);
        }

        img {
            width: 100%;
        }
    }
}
