#intro-section {
    min-height: 100vh;
    width: 100%;
    padding: 84px $page-side-padding--mobile 0;

    h1 {
        margin-bottom: 36px;
    }

    h1,
    p {
        display: flex;
        flex-direction: column;
    }
}

#greeting,
#about-me {
    will-change: transform;
}

#roulette-design-wrapper {
    display: none;
}

@include for-tablet-portrait-up {
    #intro-section {
        min-height: 768px;
        padding-left: $page-side-padding--tablet;
        padding-right: $page-side-padding--tablet;

        display: flex;
        justify-content: space-between;

        /**
         * prevent introductory text from shrinking horizontally due to the
         * wide adjacent roulette image.
         */
        .primary {
            flex-shrink: 0;
        }
    }


    #roulette-design-wrapper {
        display: block;
        will-change: transform;

        /**
         * prevent roulette design from being pushed down by section top padding
         */
        transform: translateY(-84px);

        figcaption {
            will-change: transform;
        }

        img {
            will-change: transform;
            opacity: 0;
            transform: scale(0.97);
            transition: 0.5s ease-out;
        }

        img.visible {
            opacity: 1;
            transform: scale(1);
        }
    }
}

/**
 * TABLET ( LANDSCAPE ) LAYOUT
 */
@include for-tablet-landscape-up {

    #intro-section {
        padding-left: $page-side-padding--tablet-landscape;
        padding-right: $page-side-padding--tablet-landscape;
    }
}

/**
 * DESKTOP LAYOUT
 */
@include for-desktop-up {

    #greeting {
        overflow: hidden;
    }


    #greeting span,
    #about-me span {
        opacity: 0;
    }

    /**
     * Animation delays from greeting and 'about me' text
     */
    #greeting span {
        animation-delay: 0.5s;
    }

    /**
     * Stagger animations of 'About Me' paragraph text rows.
     */
    @for $i from 1 through 4 {
        #about-me span:nth-child(#{$i}) {
            animation-delay: ( 0.5s + ( $i - 1 ) * 0.05 );
        }
    }

    #intro-section {
        padding-left: $page-side-padding--desktop;
        padding-right: $page-side-padding--desktop;
        padding-bottom: 540px;
        
        p {
            line-height: 1.8;
        }
    }

    #roulette-design-wrapper {
        transform: translateY(0);
    }
}
