#intro-section {
    min-height: 100vh;
    width: 100%;
    padding: 84px $page-side-padding--mobile 0;

    h1 {
        margin-bottom: 36px;
    }

    h1,
    p {
        display: flex;
        flex-direction: column;
    }
}

#greeting,
#about-me {
    will-change: transform;
}

#roulette-design-wrapper {
    display: none;
}

@include for-tablet-portrait-up {
    #intro-section {
        min-height: 768px;
        padding-left: $page-side-padding--tablet;
        padding-right: $page-side-padding--tablet;

        display: flex;
        justify-content: space-between;

        /**
         * prevent introductory text from shrinking horizontally due to the
         * wide adjacent roulette image.
         */
        .primary {
            flex-shrink: 0;
        }
    }


    #roulette-design-wrapper {
        display: block;
        will-change: transform;
        //transform: translateY(-80px);

        figcaption {
            will-change: transform;

            /**
             * moves caption closer to the roulette design
             */
            //transform: translate(90px, -60px);
        }
    }
}

/**
 * TABLET ( LANDSCAPE ) LAYOUT
 */
@include for-tablet-landscape-up {

    #intro-section {
        padding-left: $page-side-padding--tablet-landscape;
        padding-right: $page-side-padding--tablet-landscape;
    }
}

/**
 * DESKTOP LAYOUT
 */
@include for-desktop-up {

    #intro-section {
        padding-left: $page-side-padding--desktop;
        padding-right: $page-side-padding--desktop;
        padding-bottom: 720px;
        
        p {
            line-height: 1.8;
        }
    }
}
