#main-page-wrapper {
    position: relative;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    height: $header-height;
    display: flex;
    align-items: center;
    padding-right: $page-side-padding--mobile;
    z-index: 500;

    /**
     * Add spacing between resume and github links
     */
    .link-component:first-of-type {
        margin-right: 32px;
    }

}

#main-page {

    /**
     * prevents horizontal scrolling due to background images
     * positioned partially off-screen.
     */
    overflow-x: hidden;
}

@include for-tablet-portrait-up {
    header {
        padding-right: $page-side-padding--tablet;
    }
}

@include for-tablet-landscape-up {
    header {
        padding-right: $page-side-padding--tablet-landscape;
    }
}

@include for-desktop-up {
    header {
        padding-right: $page-side-padding--desktop;
    }
}
