#roulette-section {
    position: relative;
    padding-left: $page-side-padding--mobile;
    padding-right: $page-side-padding--mobile;
    padding-bottom: 64px;

    

    .app-description {
        margin-bottom: 24px;
    }

    .image-cards {
        height: 286px;
        margin-top: 24px;
        position: relative;

    }

    .image-card {
        position: absolute;
        overflow: hidden;

        img {
            position: absolute;
        }
    }

    .image-card:nth-child(1) {
        top: 106px;
        left: 0;
        width: 216px;
        height: 150px;
        background-color: $cream;
        z-index: 50;
    }


    .image-card:nth-child(2) {
        top: 0;
        left: 110px;
        width: 218px;
        height: 286px;
        background-color: $black;
        z-index: 49;

        img {
            top: -140px;
        }
    }


    /**
     * TODO: use a function or for loop to set z indices of cards?
     */
}

/**
 * desaturated roulette background image
 */
#roulette-bg-design-wrapper {
    position: absolute;
    bottom: calc(100% - 337px);
    left: 40px;
    transform: scale(0.8);

    /* keep this background image below text that may appear above it. */
    z-index: -1;
}

/**
 * TABLET LAYOUT
 */

@include for-tablet-portrait-up {

    #roulette-section {

        padding-left: $page-side-padding--tablet;
        padding-right: $page-side-padding--tablet;

        /**
         * Horizontal Layout:
         * Left: text
         * Right: roulette cards
         */
        display: flex;

        .image-cards {
            width: 50%;
            flex-shrink: 0;
        }

        .image-card:nth-child(2) {
            left: auto;
            right: 0;
        }
    }

    /**
     * hide the desaturated roulette background image for tablet
     * and desktop screens. A colored version of this image appears in its
     * place in the Intro section.
     */
    #roulette-bg-design-wrapper {
        display: none;
    }
}

/**
 * TABLET ( LANDSCAPE ) LAYOUT
 */

@include for-tablet-landscape-up {

    #roulette-section {
        padding-left: $page-side-padding--tablet-landscape;
        padding-right: $page-side-padding--tablet-landscape;


        /**
         * make image cards larger 
         */

        .image-card:nth-child(1) {
            width: 350px;
            height: 200px;
        }

        .image-card:nth-child(2) {
            width: 280px;
            height: 390px;
            top: -50px;
        }
    }
}
