/**
 * COLORS
 */
/**
 * PADDING 
 */
/*
 * Breakpoint Mixins
 * see: freeCodeCamp article: "The 100% correct way to do CSS breakpoints"
 *
 */
@font-face {
  font-family: 'EB Garamond';
  src: url("../assets/fonts/EB_Garamond/EBGaramond-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Cantarell';
  src: url("../assets/fonts/Cantarell/Cantarell-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #f2f2f2; }

body,
button,
input {
  font-family: 'Cantarell', sans-serif;
  color: #3a3b40; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond', serif;
  color: #222326; }

h1, h2, h3, h4, h5, h6,
p,
button,
a,
input,
span,
ul,
li {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 24px; }

p {
  font-size: 24px; }
  p.secondary-text {
    font-size: 18px; }

a {
  text-decoration: none; }

ul {
  padding-left: 0;
  list-style: none; }

button,
a {
  cursor: pointer; }

/**
 * class applied to keywords displayed below each application name
 */
.app-keywords {
  font-size: 15px; }

/**
 * TABLET STYLES
 */
@media (min-width: 600px) {
  h1 {
    font-size: 64px; }
  h2 {
    font-size: 64px; }
  h3 {
    font-size: 30px; }
  .app-keywords {
    font-size: 18px; } }

/**
 * DESKTOP STYLES
 */
@media (min-width: 1200px) {
  h1 {
    font-size: 96px; }
  h2 {
    font-size: 72px; }
  p.secondary-text {
    font-size: 20px; }
  .app-keywords {
    font-size: 20px; } }

/**
 * MAIN PAGE
 */
#main-page {
  /**
     * prevents horizontal scrolling due to background images
     * positioned partially off-screen.
     */
  overflow-x: hidden; }

#intro-section {
  min-height: 100vh;
  width: 100%;
  padding: 84px 16px 0; }
  #intro-section h1 {
    margin-bottom: 36px; }
  #intro-section h1,
  #intro-section p {
    display: flex;
    flex-direction: column; }

#roulette-section {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 64px;
  /**
     * TODO: use a function or for loop to set z indices of cards?
     */ }
  #roulette-section .app-description {
    margin-bottom: 24px; }
  #roulette-section .image-cards {
    height: 286px;
    margin-top: 24px;
    position: relative; }
  #roulette-section .image-card {
    position: absolute;
    overflow: hidden; }
    #roulette-section .image-card img {
      position: absolute; }
  #roulette-section .image-card:nth-child(1) {
    top: 106px;
    left: 0;
    width: 216px;
    height: 150px;
    background-color: #fff4e0;
    z-index: 50; }
  #roulette-section .image-card:nth-child(2) {
    top: 0;
    left: 110px;
    width: 218px;
    height: 286px;
    background-color: #222326;
    z-index: 49; }
    #roulette-section .image-card:nth-child(2) img {
      top: -140px; }

/**
 * desaturated roulette background image
 */
#roulette-bg-design-wrapper {
  position: absolute;
  bottom: calc(100% - 337px);
  left: 40px;
  transform: scale(0.8);
  /* keep this background image below text that may appear above it. */
  z-index: -1; }

#trick-or-treat-section {
  position: relative;
  padding: 48px 16px 96px;
  background-color: #222326;
  color: #f2f2f2;
  overflow: hidden;
  /**
     * add spacing around links to separate words
     */
  /**
     * link to trick-or-treat app
     */ }
  #trick-or-treat-section .app-description,
  #trick-or-treat-section .udacity-credit {
    text-align: center; }
  #trick-or-treat-section .udacity-credit {
    font-size: 18px;
    color: #88898c;
    line-height: 1.6;
    margin-top: 16px; }
  #trick-or-treat-section a {
    color: white; }
  #trick-or-treat-section a {
    margin-left: 4px; }
  #trick-or-treat-section a.udacity-fed-link {
    margin-right: 4px; }
  #trick-or-treat-section .app-link-wrapper {
    margin-top: 12px;
    display: flex;
    justify-content: center; }

#jack-and-candy {
  margin-top: 24px;
  position: relative;
  display: flex;
  justify-content: center; }
  #jack-and-candy .tot-candy {
    display: none; }

/* the candy corn image */
.tot-candy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 51px; }

/**
 * Skulls and Pumpkin images
 */
#skulls-and-pumpkins {
  position: absolute;
  left: 0;
  /* vertically aligns div such that pumpkin and skulls appear to
     * be "peeking" over the top of the next page section
     */
  bottom: -47px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.tot-pumpkin {
  margin-left: 12px;
  margin-right: 12px; }

.tot-skull {
  width: 51px;
  /**
     * moves the skull images down such that they appear to "peek"
     * over the top of the next page section.
     */
  transform: translateY(15px); }

#melody-section {
  width: 100%;
  position: relative;
  padding: 48px 16px 360px;
  background-color: #3a3b40; }
  #melody-section .app-description {
    color: white;
    text-align: right; }
  #melody-section .app-link-wrapper {
    margin-top: 48px;
    display: flex;
    justify-content: flex-end; }

/**
 * SECTION BACKGROUND
 */
#melody-section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#treble-clef,
#base-clef {
  position: absolute; }

#treble-clef {
  transform: scale(0.4);
  transform-origin: left top;
  top: 30px;
  left: 20px; }

#base-clef {
  transform: scale(0.5);
  transform-origin: bottom right;
  bottom: 0px;
  right: -20px; }

/**
 * Z-INDICES
 */
#melody-section-bg {
  z-index: 1; }

#melody-section .primary {
  position: relative;
  z-index: 2; }

#oxo-section {
  padding: 48px 16px 64px;
  background-color: white; }

#oxo-screenshot-wrapper {
  margin-top: 36px;
  margin-bottom: 36px; }
  #oxo-screenshot-wrapper img {
    opacity: 0;
    will-change: transform;
    transition: opacity 0.3s ease-out;
    /** make image span the full width of the screen */
    margin-left: -16px;
    margin-right: -16px; }
  #oxo-screenshot-wrapper img.tablet,
  #oxo-screenshot-wrapper img.desktop {
    display: none; }
  #oxo-screenshot-wrapper.img-loaded img {
    opacity: 1; }

/**
 * this styling makes the embedded YouTube video responsive
 */
#oxo-video-wrapper {
  height: 0;
  max-width: 1280px;
  padding-top: 25px;
  padding-bottom: 50.25%;
  /* 16 : 9 ratio */
  position: relative; }
  #oxo-video-wrapper iframe {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0; }

#footer-section {
  padding: 48px 16px 64px;
  background-color: #3a3b40;
  color: white;
  /**
     * email link
     */ }
  #footer-section p:first-of-type {
    margin-bottom: 36px; }
  #footer-section a {
    margin: 36px auto 0;
    display: block;
    width: max-content;
    font-size: 24px;
    color: white; }
    #footer-section a span {
      color: rgba(255, 255, 255, 0.5); }

.section-title {
  display: flex;
  flex-direction: column; }

/**
 * Title position styles
 */
.section-title.align-center {
  align-items: center; }

.section-title.align-right {
  align-items: flex-end; }

/**
 * styles for title placed over a dark background:
 */
.section-title.dark-background .title {
  color: #f2f2f2; }

.title-keyword-divider {
  width: 66px;
  height: 2px;
  background-color: #88898c;
  margin-top: 8px;
  margin-bottom: 4px; }

.app-keywords {
  display: flex;
  align-items: baseline;
  color: #88898c;
  font-weight: bold; }
  .app-keywords li:not(:last-child) {
    margin-right: 4px; }

.app-link {
  position: relative;
  padding: 16px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  width: max-content;
  /**
     * background styles specific to link type:
     */
  /** Basic Type */
  /** Clear Type */
  /** Basic Type */
  /**
     * Hover events
     */
  /**
     * Title and arrow icon
     */
  /**
     * positions the title and arrow icon above the background rectangle.
     */ }
  .app-link .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    will-change: transform; }
  .app-link .background {
    background-color: #222326; }
  .app-link.type-clear .background,
  .app-link.type-standard .background {
    transform-origin: left center;
    transform: scaleX(0.2);
    transition: 0.25s cubic-bezier(0.5, 0.01, 1, 0.35); }
  .app-link.type-standard .title, .app-link.type-simple .title {
    color: #f2f2f2; }
  .app-link.type-clear .background {
    background-color: rgba(136, 137, 140, 0.2);
    box-shadow: 0 0 0 rgba(34, 35, 38, 0.1); }
  .app-link.type-standard .background {
    background-color: #3a3b40; }
  .app-link:hover.type-clear .background, .app-link:hover.type-standard .background {
    transform: scaleX(1); }
  .app-link:hover.type-clear .background {
    box-shadow: 0 20px 18px rgba(34, 35, 38, 0.1);
    background-color: #f2f2f2; }
  .app-link .title {
    font-weight: bold;
    font-size: 15px;
    margin-right: 8px; }
  .app-link img {
    width: 33px; }
  .app-link .title, .app-link img {
    position: relative; }

/**
 * GLOBAL STYLES
 */
.transparent {
  opacity: 0.4; }

/*
 * Assigned to the imperative, descriptive text that follows the title
 * and keywords of each app section.
 */
.app-description {
  /* vertical separation between app description and title/keywords */
  margin-top: 36px; }
  .app-description span {
    display: inline-block; }
  .app-description span:not(:last-child) {
    margin-right: 4px; }

@media (min-width: 600px) {
  .mobile-only {
    display: none; } }
