/**
 * COLORS
 */
/**
 * PADDING 
 */
/*
 * Breakpoint Mixins
 * see: freeCodeCamp article: "The 100% correct way to do CSS breakpoints"
 *
 */
@font-face {
  font-family: 'EB Garamond';
  src: url("../assets/fonts/EB_Garamond/EBGaramond-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Cantarell';
  src: url("../assets/fonts/Cantarell/Cantarell-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #f2f2f2; }

body,
button,
input {
  font-family: 'Cantarell', sans-serif;
  color: #3a3b40; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond', serif;
  color: #222326; }

h1, h2, h3, h4, h5, h6,
p,
button,
a,
input,
span,
ul,
li {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 24px; }

p {
  font-size: 24px; }
  p.secondary-text {
    font-size: 18px; }

a {
  text-decoration: none; }

ul {
  padding-left: 0;
  list-style: none; }

button,
a {
  cursor: pointer; }

/**
 * class applied to keywords displayed below each application name
 */
.app-keywords {
  font-size: 15px; }

/**
 * TABLET STYLES
 */
@media (min-width: 600px) {
  h1 {
    font-size: 64px; }
  h2 {
    font-size: 64px; }
  h3 {
    font-size: 30px; }
  .app-keywords {
    font-size: 18px; } }

/**
 * DESKTOP STYLES
 */
@media (min-width: 1200px) {
  h1 {
    font-size: 96px; }
  h2 {
    font-size: 72px; }
  p.secondary-text {
    font-size: 20px; }
  .app-keywords {
    font-size: 20px; } }

/**
 * PAGE SECTIONS
 */
#intro-section {
  min-height: 100vh;
  width: 100%;
  padding: 84px 16px 0; }
  #intro-section h1 {
    margin-bottom: 36px; }
  #intro-section h1,
  #intro-section p {
    display: flex;
    flex-direction: column; }

#roulette-section {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 64px;
  /**
     * TODO: use a function or for loop to set z indices of cards?
     */ }
  #roulette-section .app-description {
    margin-bottom: 24px; }
  #roulette-section .image-cards {
    height: 286px;
    margin-top: 24px;
    position: relative; }
  #roulette-section .image-card {
    position: absolute; }
  #roulette-section .image-card:nth-child(1) {
    top: 106px;
    left: 0;
    width: 216px;
    height: 150px;
    background-color: #88898c;
    z-index: 50; }
  #roulette-section .image-card:nth-child(2) {
    top: 0;
    left: 90px;
    width: 218px;
    height: 286px;
    background-color: #222326;
    z-index: 49; }

#trick-or-treat-section {
  padding: 48px 16px 64px;
  background-color: #222326;
  color: #f2f2f2;
  /**
     * add spacing around links to separate words
     */ }
  #trick-or-treat-section .app-description,
  #trick-or-treat-section .udacity-credit {
    text-align: center; }
  #trick-or-treat-section .udacity-credit {
    font-size: 18px;
    color: #88898c;
    line-height: 1.6;
    margin-top: 16px; }
  #trick-or-treat-section a {
    color: white; }
  #trick-or-treat-section a {
    margin-left: 4px; }
  #trick-or-treat-section a.udacity-fed-link {
    margin-right: 4px; }

#melody-section {
  padding: 48px 16px 64px;
  background-color: #3a3b40;
  background-color: white; }
  #melody-section .app-description {
    text-align: right; }

#oxo-section {
  padding: 48px 16px 64px;
  background-color: white; }

#footer-section {
  padding: 48px 16px 64px;
  background-color: #74e0d4;
  color: white;
  /**
     * email link
     */ }
  #footer-section p:first-of-type {
    margin-bottom: 36px; }
  #footer-section a {
    margin: 36px auto 0;
    display: block;
    width: max-content;
    font-size: 24px;
    color: white; }
    #footer-section a span {
      color: #219486; }

.section-title {
  display: flex;
  flex-direction: column; }

/**
 * Title position styles
 */
.section-title.align-center {
  align-items: center; }

.section-title.align-right {
  align-items: flex-end; }

/**
 * styles for title placed over a dark background:
 */
.section-title.dark-background .title {
  color: #f2f2f2; }

.title-keyword-divider {
  width: 66px;
  height: 2px;
  background-color: #88898c;
  margin-top: 8px;
  margin-bottom: 4px; }

.app-keywords {
  display: flex;
  align-items: baseline;
  color: #88898c;
  font-weight: bold; }
  .app-keywords li:not(:last-child) {
    margin-right: 4px; }

.app-link {
  position: relative;
  padding: 16px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  width: max-content;
  /**
     * background styles specific to link type:
     */
  /** Basic Type */
  /** Clear Type */
  /** Basic Type */
  /**
     * Hover events
     */
  /**
     * Title and arrow icon
     */
  /**
     * positions the title and arrow icon above the background rectangle.
     */ }
  .app-link .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    will-change: transform; }
  .app-link .background {
    background-color: #222326; }
  .app-link.type-clear .background,
  .app-link.type-standard .background {
    transform-origin: left center;
    transform: scaleX(0.2);
    transition: 0.25s cubic-bezier(0.5, 0.01, 1, 0.35); }
  .app-link.type-standard .title, .app-link.type-simple .title {
    color: #f2f2f2; }
  .app-link.type-clear .background {
    background-color: rgba(136, 137, 140, 0.2);
    box-shadow: 0 0 0 rgba(34, 35, 38, 0.1); }
  .app-link.type-standard .background {
    background-color: #3a3b40; }
  .app-link:hover.type-clear .background, .app-link:hover.type-standard .background {
    transform: scaleX(1); }
  .app-link:hover.type-clear .background {
    box-shadow: 0 20px 18px rgba(34, 35, 38, 0.1);
    background-color: #f2f2f2; }
  .app-link .title {
    font-weight: bold;
    font-size: 15px;
    margin-right: 8px; }
  .app-link img {
    width: 33px; }
  .app-link .title, .app-link img {
    position: relative; }

/**
 * GLOBAL STYLES
 */
.transparent {
  opacity: 0.4; }

/*
 * Assigned to the imperative, descriptive text that follows the title
 * and keywords of each app section.
 */
.app-description {
  /* vertical separation between app description and title/keywords */
  margin-top: 36px; }
  .app-description span {
    display: inline-block; }
  .app-description span:not(:last-child) {
    margin-right: 4px; }
