/**
 * COLORS
 */
/**
 * PADDING 
 */
/**
 * DIMENSIONS
 */
/*
 * BOX SHADOWS
 */
/*
 * Breakpoint Mixins
 * see: freeCodeCamp article: "The 100% correct way to do CSS breakpoints"
 *
 */
@font-face {
  font-family: 'EB Garamond';
  src: url("../assets/fonts/EB_Garamond/EBGaramond-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Cantarell';
  src: url("../assets/fonts/Cantarell/Cantarell-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #f2f2f2; }

body,
button,
input {
  font-family: 'Cantarell', sans-serif;
  color: #3a3b40; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond', serif;
  color: #222326; }

h1, h2, h3, h4, h5, h6,
p,
button,
a,
input,
span,
ul,
li {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 24px; }

p {
  font-size: 24px; }
  p.secondary-text {
    font-size: 18px; }

a {
  text-decoration: none; }

ul {
  padding-left: 0;
  list-style: none; }

button,
a {
  cursor: pointer; }

/**
 * class applied to keywords displayed below each application name
 */
.app-keywords {
  font-size: 15px; }

/**
 * TABLET STYLES
 */
@media (min-width: 600px) {
  h1 {
    font-size: 64px; }
  h2 {
    font-size: 64px; }
  h3 {
    font-size: 30px; }
  .app-keywords {
    font-size: 18px; } }

/**
 * DESKTOP STYLES
 */
@media (min-width: 1200px) {
  h1 {
    font-size: 96px; }
  h2 {
    font-size: 72px; }
  p.secondary-text {
    font-size: 20px; }
  .app-keywords {
    font-size: 20px; } }

/*
 * ANIMATION CLASSES
 */
.animation--fade-in-from-left {
  animation-name: fadeInFromLeft;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.26, 0.09, 0.23, 1.16);
  animation-fill-mode: forwards; }

.animation--fade-in-from-right {
  animation: fadeInFromRight 0.5s cubic-bezier(0.26, 0.09, 0.23, 1.16) forwards; }

.animation--fade-in-from-bottom {
  animation: fadeInFromBottom 0.5s cubic-bezier(0.26, 0.09, 0.23, 1.16) forwards; }

.animation--fade-in {
  animation: fadeIn 0.5s ease-out forwards; }

.animation--scale-x-up-from-zero {
  animation: scaleXUpFromZero 0.5s cubic-bezier(0.26, 0.09, 0.23, 1.16) forwards; }

.animation--pumpkin-peek {
  animation: pumpkinPeek 0.45s cubic-bezier(0.26, 0.09, 0.48, 1.63) forwards; }

.animation--skull-peek {
  animation: skullPeek 0.45s cubic-bezier(0.26, 0.09, 0.48, 1.63) forwards; }

/*
 * ANIMATION KEYFRAMES
 */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-10%); }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(10%); }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes scaleXUpFromZero {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }

@keyframes skullPeek {
  to {
    transform: translateY(15px); } }

@keyframes pumpkinPeek {
  to {
    transform: translateY(0); } }

/**
 * MAIN PAGE
 */
#main-page-wrapper {
  position: relative; }

header {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  padding-right: 16px;
  z-index: 500;
  /**
     * Add spacing between resume and github links
     */ }
  header .link-component:first-of-type {
    margin-right: 32px; }

#main-page {
  /**
     * prevents horizontal scrolling due to background images
     * positioned partially off-screen.
     */
  overflow-x: hidden; }

@media (min-width: 600px) {
  header {
    padding-right: 32px; } }

@media (min-width: 900px) {
  header {
    padding-right: 48px; } }

@media (min-width: 1200px) {
  header {
    padding-right: 64px; } }

#intro-section {
  min-height: 100vh;
  width: 100%;
  padding: 84px 16px 0; }
  #intro-section h1 {
    margin-bottom: 36px; }
  #intro-section h1,
  #intro-section p {
    display: flex;
    flex-direction: column; }

#greeting,
#about-me {
  will-change: transform; }

#roulette-design-wrapper {
  display: none; }

@media (min-width: 600px) {
  #intro-section {
    min-height: 768px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    /**
         * prevent introductory text from shrinking horizontally due to the
         * wide adjacent roulette image.
         */ }
    #intro-section .primary {
      flex-shrink: 0; }
  #roulette-design-wrapper {
    display: block;
    will-change: transform;
    /**
         * prevent roulette design from being pushed down by section top padding
         */
    transform: translateY(-84px); }
    #roulette-design-wrapper figcaption {
      will-change: transform;
      /**
             * moves caption closer to the roulette design
             */ }
    #roulette-design-wrapper img {
      will-change: transform;
      opacity: 0;
      transform: scale(0.97);
      transition: 0.5s ease-out; }
    #roulette-design-wrapper img.visible {
      opacity: 1;
      transform: scale(1); } }

/**
 * TABLET ( LANDSCAPE ) LAYOUT
 */
@media (min-width: 900px) {
  #intro-section {
    padding-left: 48px;
    padding-right: 48px; } }

/**
 * DESKTOP LAYOUT
 */
@media (min-width: 1200px) {
  #greeting {
    overflow: hidden; }
  #greeting span,
  #about-me span {
    opacity: 0; }
  /**
     * Animation delays from greeting and 'about me' text
     */
  #greeting span {
    animation-delay: 0.5s; }
  /**
     * TODO: use for loop here...
     */
  #about-me span:nth-child(1) {
    animation-delay: 0.5s; }
  #about-me span:nth-child(2) {
    animation-delay: 0.55s; }
  #about-me span:nth-child(3) {
    animation-delay: 0.6s; }
  #about-me span:nth-child(4) {
    animation-delay: 0.65s; }
  #intro-section {
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 540px; }
    #intro-section p {
      line-height: 1.8; }
  #roulette-design-wrapper {
    transform: translateY(0); } }

#roulette-section {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 64px;
  /**
     * hide the third roulette card - it's visible only on
     * desktop layout.
     */
  /**
     * box shadows for roulette cards
     */
  /**
     * TODO: use a function or for loop to set z indices of cards?
     */ }
  #roulette-section .app-description {
    margin-bottom: 24px;
    width: 70%; }
  #roulette-section .roulette-cards {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    height: 286px;
    margin-top: 24px;
    position: relative; }
  #roulette-section .roulette-card {
    position: absolute;
    overflow: hidden; }
    #roulette-section .roulette-card img {
      position: absolute;
      opacity: 0;
      transition: opacity 0.3s ease-out; }
    #roulette-section .roulette-card img.visible {
      opacity: 1; }
  #roulette-section .roulette-card:nth-child(1) {
    top: 106px;
    left: 0;
    width: 216px;
    height: 150px;
    background-color: #fff4e0;
    z-index: 50; }
  #roulette-section .roulette-card:nth-child(2) {
    top: 0;
    left: 110px;
    width: 218px;
    height: 286px;
    background-color: #222326;
    z-index: 49; }
    #roulette-section .roulette-card:nth-child(2) img {
      top: -140px; }
  #roulette-section .roulette-card:nth-child(3) {
    display: none; }
  #roulette-section .roulette-card:nth-child(1),
  #roulette-section .roulette-card:nth-child(2) {
    box-shadow: 0 3px 7px 1px rgba(58, 59, 64, 0.3); }

/**
 * desaturated roulette background roulette
 */
#roulette-bg-design-wrapper {
  position: absolute;
  bottom: calc(100% - 287px);
  left: 110px;
  /* keep this background roulette below text that may appear above it. */
  z-index: -1; }
  #roulette-bg-design-wrapper img {
    opacity: 0;
    will-change: transform;
    transition: opacity 0.3s ease-out; }
  #roulette-bg-design-wrapper img.visible {
    opacity: 1; }

/**
 * TABLET LAYOUT
 */
@media (min-width: 600px) {
  #roulette-section {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 128px;
    /**
         * Horizontal Layout:
         * Left: text
         * Right: roulette cards
         */
    display: flex; }
    #roulette-section .app-description {
      width: 100%; }
    #roulette-section .roulette-cards {
      width: 50%;
      flex-shrink: 0; }
    #roulette-section .roulette-card:nth-child(2) {
      left: auto;
      right: 0;
      height: 386px; }
  /**
     * hide the desaturated roulette background roulette for tablet
     * and desktop screens. A colored version of this roulette appears in its
     * place in the Intro section.
     */
  #roulette-bg-design-wrapper {
    display: none; } }

/**
 * TABLET ( LANDSCAPE ) LAYOUT
 */
@media (min-width: 900px) {
  #roulette-section {
    padding-left: 48px;
    padding-right: 48px;
    /**
         * make roulette cards larger 
         */ }
    #roulette-section .app-description {
      padding-right: 4px; }
    #roulette-section .roulette-card:nth-child(1) {
      width: 350px;
      height: 200px; }
    #roulette-section .roulette-card:nth-child(2) {
      width: 280px;
      height: 390px;
      top: -50px; } }

/**
 * DESKTOP LAYOUT
 */
@media (min-width: 1200px) {
  #roulette-section {
    padding-bottom: 256px;
    /**
         * set column widths
         */
    /**
         * Position the three roulette cards
         */ }
    #roulette-section .app-description {
      opacity: 0; }
    #roulette-section .primary {
      width: 40%; }
    #roulette-section .roulette-cards {
      width: 60%; }
    #roulette-section .roulette-card {
      will-change: transform; }
    #roulette-section .roulette-card:nth-child(1) {
      top: 106px;
      top: -25px;
      left: 0; }
    #roulette-section .roulette-card:nth-child(2) {
      top: -50px;
      left: 190px;
      width: 320px;
      height: 440px; }
      #roulette-section .roulette-card:nth-child(2) img {
        top: -140px;
        right: -190px; }
    #roulette-section .roulette-card:nth-child(3) {
      display: block;
      width: 400px;
      height: 300px;
      top: 0;
      right: 0;
      background-color: white; }
      #roulette-section .roulette-card:nth-child(3) img {
        right: -190px; }
    #roulette-section .app-link-wrapper,
    #roulette-section .roulette-card img {
      /*
             * make sure wrapper doesn't get repainted during parallax
             */
      will-change: transform; } }

#trick-or-treat-section-wrapper {
  position: relative; }

#trick-or-treat-section {
  position: relative;
  padding: 48px 16px 96px;
  background-color: #222326;
  color: #f2f2f2;
  overflow: hidden;
  /**
     * add spacing around links to separate words
     */
  /**
     * link to trick-or-treat app
     */ }
  #trick-or-treat-section .app-description,
  #trick-or-treat-section .udacity-credit {
    text-align: center; }
  #trick-or-treat-section .udacity-credit {
    font-size: 18px;
    color: #88898c;
    line-height: 1.6;
    margin-top: 16px; }
  #trick-or-treat-section a {
    color: white; }
  #trick-or-treat-section a {
    margin-left: 4px; }
  #trick-or-treat-section a.udacity-fed-link {
    margin-right: 4px; }
  #trick-or-treat-section .app-link-wrapper {
    margin-top: 12px;
    display: flex;
    justify-content: center; }

#jack-and-candy,
#grey-panel-desktop-bg {
  display: none; }

/* the candy corn image */
.tot-candy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 51px; }

/**
 * Skulls and Pumpkin images
 */
#skulls-and-pumpkins {
  position: absolute;
  left: 0;
  /* vertically aligns div such that pumpkin and skulls appear to
     * be "peeking" over the top of the next page section
     */
  bottom: -47px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.tot-jack {
  display: block;
  margin: 24px auto 0; }

.tot-pumpkin {
  margin-left: 12px;
  margin-right: 12px; }

.tot-skull {
  width: 51px;
  /**
     * moves the skull images down such that they appear to "peek"
     * over the top of the next page section.
     */
  transform: translateY(15px); }

/**
 * TABLET LAYOUT
 */
@media (min-width: 600px) {
  #trick-or-treat-section {
    padding: 64px 32px 256px;
    display: flex; }
    #trick-or-treat-section .primary p {
      text-align: right; }
  #jack-and-candy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*
         * subjectively better-looking if Jack is lowered a few pixels
         */
    transform: translateY(20px);
    /*
         * push Jack and candy away from the app link button
         */ }
    #jack-and-candy .app-link-wrapper {
      margin-top: 24px;
      margin-bottom: 24px; }
  /**
     * column widths:
     */
  #trick-or-treat-section .primary {
    width: 70%; }
  #jack-and-candy {
    width: 30%; } }

/**
 * TABLET ( LANDSCAPE ) LAYOUT
 */
@media (min-width: 900px) {
  #trick-or-treat-section {
    padding-left: 48px;
    padding-right: 48px; }
  /**
     * make column widths the same
     */
  #trick-or-treat-section .primary,
  #jack-and-candy {
    width: 50%; } }

/**
 * DESKTOP LAYOUT
 */
@media (min-width: 1200px) {
  #trick-or-treat-section {
    width: 73%;
    margin-left: auto; }
  #trick-or-treat-section .app-description {
    opacity: 0;
    animation-delay: 0.2s; }
  #trick-or-treat-section .udacity-credit {
    opacity: 0;
    transition: opacity 1.2s ease-out; }
  #trick-or-treat-section,
  #trick-or-treat-section .app-description,
  #trick-or-treat-section .udacity-credit,
  #jack-and-candy {
    will-change: transform; }
  /**
     * column widths
     */
  #trick-or-treat-section .primary {
    width: 60%; }
  #jack-and-candy {
    width: 40%; }
  #grey-panel-desktop-bg {
    display: block;
    position: absolute;
    top: 396px;
    left: 0;
    height: 700px;
    width: 83%;
    background-color: rgba(136, 137, 140, 0.3);
    pointer-events: none; }
  #jack-and-candy {
    opacity: 0;
    animation-duration: 1.0s;
    animation-delay: 0.5s; }
  /**
     * Z-INDICES:
     * 
     * set the primary trick-or-treat section over the light grey
     * background panel
     */
  #trick-or-treat-section {
    z-index: 10; }
  #grey-panel-desktop-bg {
    z-index: 9; }
  /**
     * Peek animations from pumpkin and skulls
     */
  .tot-pumpkin,
  .tot-skull {
    will-change: transform; }
  .tot-pumpkin {
    transform: translateY(20px); }
  .tot-skull {
    transform: translateY(23px); }
  .tot-skull:first-of-type {
    animation-delay: 0.5s; }
  .tot-skull:last-of-type {
    animation-delay: 0.7s; } }

#melody-section-wrapper {
  /**
     * positions the melody section over the light grey background
     * panel from the Trick-or-Treat section and the sheet music
     * panel.
     */
  z-index: 11; }

#melody-section {
  width: 100%;
  position: relative;
  padding: 48px 16px 360px;
  background-color: #3a3b40;
  overflow: hidden; }
  #melody-section .app-description {
    color: white;
    text-align: right; }
  #melody-section .app-link-wrapper {
    margin-top: 48px;
    display: flex;
    justify-content: flex-end; }

/**
 * Sheet Music panel only visible on desktop.
 */
#sheet-music {
  display: none; }

/**
 * SECTION BACKGROUND
 */
#melody-section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#treble-clef,
#base-clef {
  position: absolute; }

#treble-clef {
  transform: scale(0.4);
  transform-origin: left top;
  top: 30px;
  left: 20px; }

#base-clef {
  transform: scale(0.5);
  transform-origin: bottom right;
  bottom: 0px;
  right: -20px; }

/**
 * Z-INDICES
 */
#melody-section-bg {
  z-index: 1; }

#melody-section .primary {
  position: relative;
  z-index: 2; }

/****
 * TABLET LAYOUT
 */
@media (min-width: 600px) {
  #melody-section .primary {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #melody-section .app-description {
    width: 70%;
    text-align: center; }
  #melody-section .app-link-wrapper {
    margin-top: 96px; } }

/**
 * TABLET ( LANDSCAPE ) LAYOUT
 */
@media (min-width: 900px) {
  /**
     * make app description less wide
     */
  #melody-section .app-description {
    width: 50%; } }

@media (min-width: 1200px) {
  #melody-section-wrapper {
    margin-top: 360px;
    padding-bottom: 0;
    position: relative;
    height: 512px; }
  #sheet-music {
    position: absolute;
    top: -80px;
    left: 64px;
    display: block;
    overflow: hidden;
    width: 530px;
    height: 580px;
    background-color: white;
    box-shadow: 0 3px 7px 1px rgba(58, 59, 64, 0.3); }
  #melody-section {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 180px; }
    #melody-section .app-description {
      width: 75%; }
  #melody-section,
  #melody-section .app-link-wrapper,
  #melody-section .app-description,
  #sheet-music {
    will-change: transform; }
  #melody-section .app-description {
    opacity: 0;
    animation-delay: 0.5s; } }

#oxo-section {
  padding: 48px 16px 64px;
  background-color: white; }

#oxo-screenshot-wrapper {
  position: relative;
  margin: 36px -16px;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  #oxo-screenshot-wrapper figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 18px;
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: #3a3b40;
    color: white; }
  #oxo-screenshot-wrapper img {
    width: 100%;
    max-width: 375px;
    /** make image span the full width of the screen */
    /*
        margin-left: -$page-side-padding--mobile;
        margin-right: -$page-side-padding--mobile;
        */ }
  #oxo-screenshot-wrapper img.tablet,
  #oxo-screenshot-wrapper img.desktop {
    display: none; }

/**
 * OXO icon is visible on desktop only.
 */
#oxo-icon-wrapper {
  display: none; }

#oxo-features-list {
  list-style: inside;
  margin-top: 32px; }

/**
 * TABLET LAYOUT
 */
@media (min-width: 600px) {
  #oxo-section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #oxo-section .app-description {
      /**
             * match the width of the oxo screenshots image
             */
      width: 506px;
      text-align: center; }
  #oxo-screenshot-wrapper img {
    max-width: none; } }

/**
 * TABLET ( LANDSCAPE ) LAYOUT
 */
@media (min-width: 900px) {
  /**
     * rotate the screenshots 90 degrees so they display
     * horizontally.
     */
  #oxo-screenshot-wrapper {
    transform: translateY(-130px) rotateZ(-90deg);
    /*
         * pattern created using tool at patternify.com
         */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARUlEQVQoU2NkIBIwQtUZA+mz+PTAFILUgBSDAFYN+BSi2IKsENlmDKdgU4jVvegKkRWhuBmX1Riew6cQ5mawLcQoBGsAANj6CguQus8fAAAAAElFTkSuQmCC); } }

/**
 * DESKTOP LAYOUT
 */
@media (min-width: 1200px) {
  #oxo-section {
    padding-top: 96px; }
  #oxo-section .app-description {
    text-align: left;
    opacity: 0;
    will-change: transform;
    animation-delay: 0.5s; }
  /**
     * Position the app icon to the left of the section text.
     */
  #oxo-section .top-section {
    display: flex;
    align-items: center;
    justify-content: center; }
  /**
     * undo screenshot rotation applied in tablet ( landscape ) layout
     */
  #oxo-screenshot-wrapper {
    transform: translateY(0) rotateZ(0); }
  #oxo-screenshot-wrapper {
    width: 80%;
    max-width: 1280px;
    margin-top: 128px;
    margin-left: auto;
    margin-right: auto;
    will-change: transform; }
    #oxo-screenshot-wrapper img {
      opacity: 0;
      will-change: transform;
      transition: opacity 0.3s ease-out;
      width: 100%; }
    #oxo-screenshot-wrapper.visible img {
      opacity: 1; }
  #oxo-icon-wrapper {
    position: relative;
    display: block;
    margin-right: 200px;
    animation-delay: 0.5s;
    will-change: transform;
    opacity: 0;
    /* the OXO app icon */ }
    #oxo-icon-wrapper img {
      width: 256px; }
  #oxo-features-list li {
    opacity: 0;
    will-change: transform; }
  #oxo-features-list li:nth-child(1) {
    animation-delay: 1s; }
  #oxo-features-list li:nth-child(2) {
    animation-delay: 1.4s; }
  #oxo-features-list li:nth-child(3) {
    animation-delay: 1.8s; }
  #oxo-trailer-link-wrapper {
    margin-top: 64px; } }

#footer-section {
  padding: 64px 16px 128px;
  background-color: #3a3b40;
  color: white;
  /*
 	 * pattern created using tool at patternify.com
	 */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARUlEQVQoU2NkIBIwQtUZA+mz+PTAFILUgBSDAFYN+BSi2IKsENlmDKdgU4jVvegKkRWhuBmX1Riew6cQ5mawLcQoBGsAANj6CguQus8fAAAAAElFTkSuQmCC);
  /**
     * email link
     */ }
  #footer-section p:first-of-type {
    margin-bottom: 36px; }
  #footer-section .email-link {
    display: block;
    margin-top: 36px;
    width: max-content;
    font-size: 24px;
    color: white; }
    #footer-section .email-link span {
      color: rgba(255, 255, 255, 0.5); }

#my-credentials-links {
  display: flex; }
  #my-credentials-links .link-wrapper:first-of-type {
    margin-right: 32px; }

/**
 * TABLET LAYOUT
 */
@media (min-width: 600px) {
  #footer-section {
    padding-left: 32px;
    padding-right: 32px; }
    #footer-section p {
      width: 80%; }
  #my-credentials-links {
    margin-top: 48px; } }

/**
 * TABLET ( LANDSCAPE ) LAYOUT
 */
@media (min-width: 900px) {
  #footer-section a, #footer-section p {
    margin-left: auto;
    margin-right: auto; }
  #footer-section p {
    text-align: center;
    width: 60%; } }

/**
 * DESKTOP LAYOUT
 */
@media (min-width: 1200px) {
  #footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 128px;
    height: 100vh;
    min-height: 500px; }
  #footer-section p {
    width: 50%;
    font-size: 22px;
    opacity: 0;
    will-change: transform;
    animation-duration: 0.8s; }
    #footer-section p:first-of-type {
      margin-bottom: 48px; }
    #footer-section p:last-of-type {
      animation-delay: 0.3s; }
  #email-link-wrapper {
    opacity: 0;
    will-change: transform;
    animation-delay: 0.8s; }
  #footer-section a {
    opacity: 0.7; }
    #footer-section a:hover {
      opacity: 1;
      text-decoration: underline; }
  #my-credentials-links {
    margin-top: 96px; }
    #my-credentials-links .link-wrapper {
      will-change: transform;
      opacity: 0;
      animation-delay: 1s; } }

/*.section-title {

}

.title-keyword-divider {
    width: 66px;
    height: 2px;
    background-color: $light-grey;
    margin-top: 8px;
    margin-bottom: 4px;
}

.app-keywords {
    display: flex;
    align-items: baseline;
    color: $light-grey;
    font-weight: bold;

    li:not(:last-child) {
        margin-right: 4px;
    }
}
*/
.section-title {
  display: flex;
  flex-direction: column; }

/**
 * Title position styles
 */
.section-title.align-center {
  align-items: center; }

.section-title.align-right {
  align-items: flex-end; }

/**
 * styles for title placed over a dark background:
 */
.section-title.dark-background .title {
  color: #f2f2f2; }

.title-keyword-divider {
  width: 66px;
  height: 2px;
  background-color: #88898c;
  margin-top: 8px;
  margin-bottom: 4px; }

.app-keywords {
  display: flex;
  align-items: baseline;
  color: #88898c;
  font-weight: bold; }
  .app-keywords li:not(:last-child) {
    margin-right: 4px; }

/**
 * DESKTOP LAYOUT
 */
@media (min-width: 1200px) {
  .section-title {
    /**
         * set the transform origin of the keyword divider
         * according to the text positionint of the section title:
         *
         * Text Alignment
         * LEFT: divider should expand to right
         * RIGHT: divider should expand to left
         * CENTER: divider should expand from center
         */ }
    .section-title .title,
    .section-title .app-keywords {
      opacity: 0; }
    .section-title .title,
    .section-title .title-keyword-divider,
    .section-title .app-keywords {
      will-change: transform;
      transition: 0.4s cubic-bezier(0.26, 0.09, 0.23, 1.16); }
    .section-title .title-keyword-divider {
      transform: scaleX(0);
      transform-origin: left center;
      animation-delay: 0.4s; }
    .section-title .title-keyword-divider {
      transform-origin: left center; }
    .section-title.align-center .title-keyword-divider {
      transform-origin: center center; }
    .section-title.align-right .title-keyword-divider {
      transform-origin: right center; }
    .section-title .app-keywords {
      animation-delay: 0.2s; } }

.app-link {
  position: relative;
  padding: 16px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  width: max-content;
  /**
     * background styles specific to link type:
     */
  /** Basic Type */
  /** Clear Type */
  /** Basic Type */
  /**
     * Hover events
     */
  /**
     * Title and arrow icon
     */
  /**
     * positions the title and arrow icon above the background rectangle.
     */ }
  .app-link .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    will-change: transform; }
  .app-link .background {
    background-color: #222326; }
  .app-link.type-clear .background,
  .app-link.type-standard .background {
    transform-origin: left center;
    transform: scaleX(0.2);
    transition: 0.25s cubic-bezier(0.5, 0.01, 1, 0.35); }
  .app-link.type-standard .title, .app-link.type-simple .title {
    color: #f2f2f2; }
  .app-link.type-clear .background {
    background-color: rgba(136, 137, 140, 0.2);
    box-shadow: 0 0 0 rgba(34, 35, 38, 0.1); }
  .app-link.type-standard .background {
    background-color: #3a3b40; }
  .app-link:hover.type-clear .background, .app-link:hover.type-standard .background {
    transform: scaleX(1); }
  .app-link:hover.type-clear .background {
    box-shadow: 0 20px 18px rgba(34, 35, 38, 0.1);
    background-color: #f2f2f2; }
  .app-link .title {
    font-weight: bold;
    font-size: 15px;
    margin-right: 8px; }
  .app-link img {
    width: 33px; }
  .app-link .title, .app-link img {
    position: relative; }

.link-component {
  display: flex;
  align-items: center;
  /**
     * "Resume" label
     */
  /**
     * download icon
     */ }
  .link-component .link-label {
    font-size: 18px;
    margin-right: 6px; }
  .link-component img {
    width: 20px;
    opacity: 0.25; }
  .link-component:hover img {
    opacity: 1; }
  .link-component.theme--light .link-label {
    color: white; }

/**
 * GLOBAL STYLES
 */
.transparent {
  opacity: 0.4; }

/*
 * Assigned to the imperative, descriptive text that follows the title
 * and keywords of each app section.
 */
.app-description {
  /* vertical separation between app description and title/keywords */
  margin-top: 36px; }
  .app-description span {
    display: inline-block; }
  .app-description span:not(:last-child) {
    margin-right: 4px; }

/*
.tablet-only,
.desktop-only {
    display: none;
}
*/
@media (min-width: 600px) {
  .mobile-only {
    display: none !important; } }

@media (min-width: 1200px) {
  .app-description {
    will-change: transform; } }
