#trick-or-treat-section-wrapper {
    position: relative;
}

#trick-or-treat-section {
    position: relative;
    padding: 48px $page-side-padding--mobile 96px;
    background-color: $black;
    color: $off-white;
    overflow: hidden;

    .app-description,
    .udacity-credit {
        text-align: center;
    }

    .udacity-credit {
        font-size: 18px;
        color: $light-grey;
        line-height: 1.6;
        margin-top: 16px;
    }

    a {
        color: white;
    }

    /**
     * add spacing around links to separate words
     */
    a {
        margin-left: 4px;
    }

    a.udacity-fed-link {
        margin-right: 4px;
    }

    /**
     * link to trick-or-treat app
     */
    .app-link-wrapper {
        margin-top: 12px;
        display: flex;
        justify-content: center;
    }
}

#jack-and-candy,
#grey-panel-desktop-bg {
    display: none;
}


/* the candy corn image */
.tot-candy {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 51px;
}

/**
 * Skulls and Pumpkin images
 */
#skulls-and-pumpkins {
    position: absolute;
    left: 0;

    /* vertically aligns div such that pumpkin and skulls appear to
     * be "peeking" over the top of the next page section
     */
    bottom: -47px;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tot-jack {
    display: block;
    margin: 24px auto 0;
}

.tot-pumpkin {
    margin-left: 12px;
    margin-right: 12px;
}

.tot-skull {
    width: 51px;

    /**
     * moves the skull images down such that they appear to "peek"
     * over the top of the next page section.
     */
    transform: translateY(15px);
}

/**
 * TABLET LAYOUT
 */
@include for-tablet-portrait-up {

    #trick-or-treat-section {
        padding: 64px $page-side-padding--tablet 256px;

        display: flex;

        .primary p {
            text-align: right;
        }
    }

    #jack-and-candy {
        display: flex;
        flex-direction: column;
        justify-content: center;

        /*
         * subjectively better-looking if Jack is lowered a few pixels
         */
        transform: translateY(20px);

        /*
         * push Jack and candy away from the app link button
         */
        .app-link-wrapper {
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }

    /**
     * column widths:
     */

    #trick-or-treat-section .primary {
        width: 70%;
    }

    #jack-and-candy {
        width: 30%;
    }
}

/**
 * TABLET ( LANDSCAPE ) LAYOUT
 */

@include for-tablet-landscape-up {

    #trick-or-treat-section {
        padding-left: $page-side-padding--tablet-landscape;
        padding-right: $page-side-padding--tablet-landscape;
    }
    
    /**
     * make column widths the same
     */

    #trick-or-treat-section .primary,
    #jack-and-candy {
        width: 50%;
    }

}

/**
 * DESKTOP LAYOUT
 */
@include for-desktop-up {

    #trick-or-treat-section {
        width: 73%;
        margin-left: auto;
    }

    #trick-or-treat-section,
    #trick-or-treat-section .udacity-credit {
        will-change: transform;
    }


    /**
     * column widths
     */

    #trick-or-treat-section .primary {
        width: 60%;
    }

    #jack-and-candy {
        width: 40%;
    }

    #grey-panel-desktop-bg {
        display: block;
        position: absolute;
        top: 396px;
        left: 0;
        height: 700px;
        width: 83%;
        background-color: rgba($light-grey, 0.3);
        pointer-events: none;
    }

    /**
     * Z-INDICES:
     * 
     * set the primary trick-or-treat section over the light grey
     * background panel
     */

    #trick-or-treat-section {
        z-index: 10;
    }

    #grey-panel-desktop-bg {
        z-index: 9;
    }
}
