/*
 * ANIMATION CLASSES
 */


.animation--fade-in-from-left {
    animation-name: fadeInFromLeft;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.26, 0.09, 0.23, 1.16);
    animation-fill-mode: forwards;
}

.animation--fade-in-from-right {
    animation: fadeInFromRight 0.5s cubic-bezier(0.26, 0.09, 0.23, 1.16) forwards;
}

.animation--fade-in-from-bottom {
    animation: fadeInFromBottom 0.5s cubic-bezier(0.26, 0.09, 0.23, 1.16) forwards;
}

.animation--fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}

.animation--scale-x-up-from-zero {
    animation: scaleXUpFromZero 0.5s cubic-bezier(0.26, 0.09, 0.23, 1.16) forwards;
}

.animation--pumpkin-peek {
    animation: pumpkinPeek 0.5s cubic-bezier(0.26, 0.09, 0.39, 1.32) forwards;
}

.animation--skull-peek {
    animation: skullPeek 0.5s cubic-bezier(0.26, 0.09, 0.39, 1.32) forwards;
}


/*
 * ANIMATION KEYFRAMES
 */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1 }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-10%);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(10%);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleXUpFromZero {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
}

@keyframes skullPeek {
    to { transform: translateY(15px); }
}

@keyframes pumpkinPeek {
    to { transform: translateY(0); }
}
