/**
 * COLORS
 */

$black: #222326;
$dark-grey: #3a3b40;
$grey: #545559;
$light-grey: #88898c;
$off-white: #f2f2f2;

$cream: #fff4e0;

$pastel-green: rgb(116, 224, 212);

/**
 * PADDING 
 */
$page-side-padding--mobile: 16px;
$page-side-padding--tablet: 32px;
$page-side-padding--tablet-landscape: 48px;
$page-side-padding--desktop: 64px;
