@import './variables';
@import './breakpoints';
@import './fonts';
@import './normalize';
@import './animations';

/**
 * MAIN PAGE
 */

@import '../MainPage/MainPage';
@import '../MainPage/sections/IntroSection/IntroSection';
@import '../MainPage/sections/RouletteSection/RouletteSection';
@import '../MainPage/sections/TrickOrTreatSection/TrickOrTreatSection';
@import '../MainPage/sections/MelodySection/MelodySection';
@import '../MainPage/sections/OXOSection/OXOSection';
@import '../MainPage/sections/FooterSection/FooterSection';
@import '../MainPage/sections/SectionTitle/SectionTitle';

@import '../MainPage/AppLink/AppLink';

/**
 * GLOBAL STYLES
 */

.transparent {
    opacity: 0.4;
}


/*
 * Assigned to the imperative, descriptive text that follows the title
 * and keywords of each app section.
 */
.app-description {

    /* vertical separation between app description and title/keywords */
    margin-top: 36px;

    span {
        display: inline-block;
    }

    span:not(:last-child) {
        margin-right: 4px;
    }
}

.tablet-only,
.desktop-only {
    display: none;
}

@include for-tablet-portrait-up {
    .mobile-only {
        display: none !important;
    }

    .tablet-only {
        display: initial;
    }
}

@include for-desktop-up {

    .app-description {
        will-change: transform;
    }

    .tablet-only {
        display: none !important;
    }

    .desktop-only {
        display: initial;
    }
}
