@import './variables';
@import './breakpoints';
@import './fonts';
@import './normalize.scss';

/**
 * PAGE SECTIONS
 */

@import '../MainPage/sections/IntroSection/IntroSection';
@import '../MainPage/sections/RouletteSection/RouletteSection';
@import '../MainPage/sections/TrickOrTreatSection/TrickOrTreatSection';
@import '../MainPage/sections/MelodySection/MelodySection';
@import '../MainPage/sections/OXOSection/OXOSection';
@import '../MainPage/sections/FooterSection/FooterSection';
@import '../MainPage/sections/SectionTitle/SectionTitle';

@import '../MainPage/AppLink/AppLink';

/**
 * GLOBAL STYLES
 */

.transparent {
    opacity: 0.4;
}


/*
 * Assigned to the imperative, descriptive text that follows the title
 * and keywords of each app section.
 */
.app-description {

    /* vertical separation between app description and title/keywords */
    margin-top: 36px;

    span {
        display: inline-block;
    }

    span:not(:last-child) {
        margin-right: 4px;
    }
}
