.link-component {
    display: flex;
    align-items: center;

    color: $black;

    &:hover {
        text-decoration: underline;
        text-decoration-color: $black;
    }

    &.theme--light:hover {
        text-decoration-color: white;
    }


    /**
     * "Resume" label
     */
    .link-label {
        font-size: 18px;
        margin-right: 6px;
    }

    /**
     * download icon
     */
    img {
        width: 20px;
        opacity: 0.25;
    }

    &:hover img {
        opacity: 1;
    }

    &.theme--light .link-label {
        color: white;
    }
}
